.social-icons {
    top: 40%;
    left: 2%;
    position: fixed;
    margin-bottom: var(--fsz-md);
    z-index: 1;
    height: 0;

    &::before {
        content: "";
        display: block;
        height: calc(var(--fsz-md)*9);
        width: 2px;
        background-color: var(--primary);
        margin: 0 auto;
    }

    .icon {
        margin-top: var(--fsz-xs);
        width: var(--fsz-xl);
        transition: var(--transition);

        &:hover {
            .yellow {
                display: block;
            }

            .gray {
                display: none;
            }
        }

    }
}