.hero-container {
    width: 100vw;
    height: 100vh;
    color: var(--slate);



    .hero-bg-img {
        background-image: url("../img/bg.jpeg");
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .1;
    }


    .greeting,
    .profession {
        padding: var(--fsz-xl) 0;
    }

    .hero-content {
        top: 10%;
        z-index: 1;

        .heading {
            h1 {
                color: var(--primary);
            }
        }

        .profession {
            color: var(--secondary);
        }

        .greeting {
            text-transform: uppercase;

            i {
                color: var(--secondary);
                margin: 0 var(--fsz-md);
            }
        }

        .txt-bottom {
            margin-top: 40vh;
            text-align: center;
            color: var(--secondary-variant);

            p {
                width: 43ch;
            }

            &:hover {
                color: var(--secondary);
            }
        }
    }
}