.scroll {
  -webkit-perspective: 300px;
  perspective: 300px;
  background-color: var(--bg-color-variant);  
  margin-bottom: 10rem;

  .cube {
    position: relative;
    width: 100%;
    min-height: 100vh;
    transition: display 3s cubic-bezier(0.645,0.045,0.355,1);
  }

  #top {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  #content {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    background-color: var(--bg-color);
  }
}